# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jetbrain tools
.idea
.vscode
.obsidian

# build Folder
build
cmake-build-debug
rtype_client
rtype_server
rtype_demo
vcpkg_installed

# Useless execs
src/main.cpp
src/demo/test_main.cpp
test_main


Testing/

vcpkg/

rtype_client

rtype_server
!/graph/
