# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors tools
.idea
.vscode
.obsidian
.fleet
.vs

# build Folder
build
cmake-build-debug
cmake-build-release
r-type_client
r-type_server
r-type_demo
vcpkg_installed

# Useless execs
src/main.cpp
test_main


Testing/


r-type_client.*
r-type_server.*

rtype_server
!/graph/
docs/html
cmake-build-release/
out/
.gdbhistory
